<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="text-muted"><b>Kancelaria radców prawnych online</b><br><br>
            Prześlij do nas swoje zgłoszenie<br>
            Rozwiążemy każdy problem związany z prawem</span>
        </div>

        <div class="col-md-2">
          <ul class="text-muted">
            <li><a href="/about">O stronie</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Kontakt</a></li>
          </ul>
        </div>

          <div class="col-md-4">
            <div class="footer-copyright">
                <span class="text-muted">© 2018 Kancelaria Radców Prawnych</span>
            </div>
          </div>
      </div>
    </div>
  </footer>
