<div class="container">
  <button onClick="goBack()" type="button" class="btn btn-primary" style="float: right;">Wstecz</button>
  <h3 style="text-align: center;">Dodaj zgłoszenie</h3><br />
  <div class="col-sm-8 mx-auto">
    <form action="/requests" method="post">
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Temat</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" placeholder="Wprowadź temat swojego zgłoszenia...">
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Kategoria</label>
        <div class="col-sm-10">
          <select multiple class="form-control" name="category" required>
            <option>Porada prawna</option>
            <option>Opinia prawna</option>
            <option>Ekspertyza prawna</option>
            <option>Projekt aktu prawnego</option>
            <option>Zastąpienie przy negocjacjach</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="request" class="col-sm-2 col-form-label">Treść zgłoszenia</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" name="body" placeholder="Tutaj wprowadź treść zgłoszenia..."></textarea>
        </div>
                <button type="submit" class="btn btn-success btn-lg" value="Save" id="submit-form">Wyślij</button>
      </div>

    </form>
  </div>
</div>
