#submit-form {
  position: absolute;
  top: 210;
  right: 15px;
}

card-body {
  color: black;
}

body {
  background-color: #222222;
  color: white;
  font-family: "Times New Roman";
  height: auto;
}

a {
  font-family: "Times New Roman";
  color: #6c767d;
}

a:hover {
  color: white;
}

.btn-danger {
  border-color: transparent;
  background-color: transparent;
}

.main {
  position: relative;
  height: 100%;
  padding: 40px;
  margin-bottom: 200px;

}

.body-handler {
  padding: 20px;
}


.body-text {
  font-family: "Times New Roman";
  color: #DCDCDC;
  text-align: center;
  padding-top: 100px;
}

.test-text {
  font-family: "Times New Roman";
  color: #DCDCDC;
}

.messages {
  width: 400px;
  position: relative;
  margin: auto;
  padding: 10px;
}

.login {
  color: black;
}

.register {
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  padding-top: 15px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #343a41;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}


.footer-copyright {
  padding-left: 80px;
}
