#edit-form-button{
  margin-top: 12px;
  margin-left: 18px;
}

#button-submit {
  position: absolute;
      top: 99%;
      left: 50%;
}



.btn-delete {
  color: white;
  display: inline-block;
  background-color: #fe5c5c;
  background-border: #fe5c5c;
  width: 72px;
}

.btn-delete:hover {
  background-color: #e89797;
}

#delete-form {
  display: inline;
}


.text-primary {
    color: #12bbad !important;
}

.messages {
  width: 400px;
  position: relative;
  margin: auto;
  padding: 10px;
}

.bg-primary {
  background-color: #12bbad !important;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
}

.navbar>.container, .navbar>.container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

html {
  position: relative;
  min-height: 100%;
  }
body {
  margin-bottom: 60px;
  background-color: #f9f9f9;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #12bbad;
}
.text-muted {
    color: white !important;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
