<div class="container">
  <h2 style="margin-bottom: 50px;"> Witaj administratorze {{user.firstName}}</h2>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="admin-p">Przejdz do zarzadania plikami</p>
      <a class="btn btn-success btn-sm" id="pliki" href="/files"><i class="fa fa-list-alt"></i> Pliki do pobrania</a><br />
      <br />
      <p class="admin-p">Przejdz do zarzadania zgloszeniami</p>
      <a class="btn btn-success btn-sm" id="uzytkownicy" href="/admin/reqadmin"><i class="fa fa-list-alt"></i> Zgłoszenia</a>
      <br /><br />
      <p class="admin-p">Przejdz do zarzadania uzytkownikami</p>
      <a class="btn btn-success btn-sm" href="/admin/requsers"><i class="fa fa-address-card"></i> Użytkownicy</a>

    </div>
    <div class="col-sm-6 col-centered">

    </div>
  </div>

</div>
