<div class="container">
  <div class="welcome-body">
    <div class="body-text">
      <div class="py-5">
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-7">
                <h2 class="text-primary">Usługi online</h2>
                <p class="">Nasza kancelaria oferuje szeroki zakres usług wykonywanych online. Z uwagi na coraz szerszą informatyzację usług i rozwój nowych technologii, udzielenie wsparcia jest proste jak nigdy dotąd. Spadek i zachowek, prawo pracy, umowy, alimenty, rozwód, regulaminy, porady prawne, windykacja należności, to i wiele więcej można znaleźć w tej aplikacji!  </div>
              <div class="col-md-5 align-self-center">
                <img class="img-fluid d-block w-100 img-thumbnail" src="https://www.oliverchronicle.com/app/uploads/2018/01/scales.jpg"> </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="http://m.rgbimg.com/cache1pd5rV/users/r/rw/rwlinder/600/mGD5TtA.jpg"> </div>
              <div class="col-md-7">
                <h2 class="text-primary pt-3">Jak zacząć?</h2>
                <p class="">Zarejestruj się wypełniając formularz a następnie zaloguj. Możesz również wybrać metodę logowania z Google! Następnie skontaktuj się z naszymi doradcami używając wniosku, a następnie obserwuj swoje zgłoszenie, to pod nim pojawią się aktualizacje od prawnika! Po zalogowaniu dostepne jest bogate repozytorium plików!</div>
            </div>
            <br /><br />
            <div class="row mb-5">
              <div class="col-md-7">
                <h2 class="text-primary">Potrzebujesz pomocy?</h2>
                <p class="">Jeśli z jakiegoś powodu nie możesz przejść procesu rejestracji, chcesz złożyć zażalenie, lub skontaktować się z innym prawnikiem skontaktuj się naszym działem pomocy:<br />pomoc.kancelaria@kanc.pl </div>
              <div class="col-md-5 align-self-center">
                <img class="img-fluid d-block w-100 img-thumbnail" src="http://www.michaudlaw.com/wp-content/uploads/2016/02/iStock_000018538809XLarge-2400x1000.jpg"> </div>
            </div>
          </div>
        </div>

  </div>
</div>
