<div class="py-5" style="margin-top: 40px;">
  <div class="container">
    <div class="row">

      <div class="align-self-center col-md-6">
        <h1 class="text-center text-md-left display-3">Zarejestrowany?</h1>
        <p class="lead">Nie czekaj! Zaloguj się już teraz!</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card text-white p-5 bg-primary">
            <h3 class="text-center">Zaloguj się</h3>
            <form method="post" action="/users/login">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required />
              </div>
              <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" name="password" required />
              </div>
              <button type="submit" class="btn btn-primary">Zatwierdź</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
