<div class="container">

 {{#if files}}

    <h4>Pliki do pobrania: </h4> <br />

  <table class="table table-striped">
    <thead>

      <tr>
        <th scope="col">Nazwa pliku</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Rozmiar pliku</th>
      </tr>
    </thead>
    <tbody>
      {{#each files}}
      <tr>
        <td><a style="color: black;" href="/uploads/public/{{originalname}}">{{originalname}}</a>
        <td>{{formatDate date 'LLL'}}</td>
        <td>{{filesize size}}</td>
      {{/each}}
    </tbody>
  </table>
</div>
  {{/if}}
