<form action="/files" enctype="multipart/form-data" method="post">
  <input type="file" name="file-to-upload">
  <input type="submit" value="Upload">
</form>
<form action="/files/private" enctype="multipart/form-data" method="post">
  <input type="file" name="file-to-upload">
  <input type="submit" value="Sroad">
</form>


{{#if files}}
{{#each files}}
<a href="/uploads/public/{{originalname}}">{{originalname}}</a>
{{/each}}
{{/if}}

<a href="uploads/9335f4d57a9496a583ab8e578052a554">File Name</a>
